@charset "utf-8";

@font-face {
  font-family: "NanumBarunGothic";
  src: url("../../fonts/NanumBarunGothic.eot");
  src: url("../../fonts/NanumBarunGothic.eot") format("embedded-opentype"),
    url("../../fonts/NanumBarunGothic.woff") format("woff");
}
/* https://3months.tistory.com/222 */

.lecture {
  font-family: "NanumBarunGothic", "serif";
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

.boldtext {
  font-family: "NanumBarunGothic", "bold";
  font-weight: bold;
  font-size: 1.4rem;
}

.description {
  font-family: "NanumBarunGothic";
  font-size: 1.0rem;
}



.eclipse{
  display: inline-block;
  width: 100%;
  /* white-space: nowrap; */
  overflow: hidden;
  
  /* 여러 줄 자르기 추가 스타일 */
  white-space: normal;
  line-height: 1.2;
  max-height: 3.6em;
  text-align: left;
  word-wrap: break-word;

  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;

  /* https://webdir.tistory.com/483 */
}


table.meta {
  border-collapse: separate;
  border-spacing: 1px;
  width:95%;
  text-align: left;
  line-height: 1.5rem;
  border-top: 1px solid #ccc;
  margin: 20px 1rem;
}
table.meta th {
  width: 30%;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  background: #efefef;
}
table.meta td {
  width: 70%;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}




.player {
  height: 27.5vh;
}
/* 뷰포트 설명 https://nykim.work/84 */
/* 뷰포트 설명2 https://aboooks.tistory.com/353 */
/* SCSS 설명(이번 프로젝트에서 사용은 안할 것) https://heropy.blog/2018/01/31/sass/ */


@media (min-width:500px){
  .player {
    height: 33vh;
  }
}
@media (min-width:600px){
  .player {
    height: 40vh;
  }
}
@media (min-width:700px){
  .player {
    height: 50vh;
  }
}
@media (min-width:768px){
  .player {
    height: 52vh;
  }
}
@media (min-width:800px){
  .player{
    height: 55vh;
  }
}
@media (min-width:900px){
  .player {
    height: 62vh
  } 
}

@media (min-width:1024px){
  .player {
    height: 66vh
  } 
}
@media (min-width:1250px){
  .player{
    height: 60vh
  }
}

@media (min-width:1500px){
  .player{
    height: 64vh;
  }
}

@media (min-width:1600px){
  .player{
    height: 66vh;
  }
}

@media (min-width:1700px){
  .player{
    height: 68vh;
  }
}

/* 아래에 놓일수록 우선순위가 높은듯? */
/* 모바일 사이즈 기준 */
/* iPhone 6/7/8 portrait */
@media (width:375px) and (width:667px){
  .player{
    height: 27.5vh
  }
}
/* iPhone 6/7/8 landscape */
/* @media (width:667px) and (height:375px){
  .player{
    height: 92vh
  }
} */
/* iPhone 6/7/8 plus portrait */
@media (width:414px) and (height:736px){
  .player{
    height: 27.6vh
  }
}
/* iPhone 6/7/8 plus landscape */
/* @media (width:736px){
  .player{
    height: 20vh
  }
} */

/* iPhone X portrait */
@media (width:375px) and (height:812px){
  .player{
    height: 22.7vh
  }
}
/* iPhone X landscape */
@media (width:812px) and (height:375px){
  .player{
    height: 80vh
  }
}

@media (max-width:767px){
  @viewport{
    orientation: landscape;
  }
}

/* iPad portrait */
@media (width:768px) and (height:1024px){
  .player {
    height: 39vh;
  }
}
/* iPad landscape */
@media (width:1024px) and (height:768px){
  .player {
    height: 64vh;
  }
}
/* iPad Pro portrait */
@media (width:1024px) and (height:1366px){
  .player {
    height: 36vh
  } 
}
/* iPad Pro landscape */
@media (width:1366px) and (height:1024px){
  .player{
    height: 42vh
  }
}